html, 
body, 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    width: 100vw;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    background-color: whitesmoke;
    position: relative;
    right: -207.22px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.information {
    display: flex;
    justify-content: center;
    gap: 120px;
    position: relative;
}

h1 {
    font-size: 64px;
    letter-spacing: 10px;
    background-color: black;
    padding: 18px 20px 18px 30px;
    border-radius: 8px;
}

h1:hover {
    cursor: grab;
}
 
.toolkit {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1;
}

.toolboard {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.save-button,
.load-button,
.new-button {
    background-color: black;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    margin: 0px;
    line-height: 0;
}

.save-button:hover,
.load-button:hover,
.new-button:hover {
    transform:scale(1.05);
    cursor: grab;
}

.save-button:active,
.load-button:active,
.new-button:active {
    transform:scale(0.95);
}

.save-button svg,
.load-button svg,
.new-button svg {
    width: 35px;
    height: 35px;
    fill: white;
    padding: 0px;
    margin: 0px;
}


.new-button:hover svg {
    fill: gold;
}

.palette-name {
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    height: fit-content;
    align-self: flex-end;
    display: grid;
    grid-template: 1fr / 1fr;
}

.saved-name,
#name {
    letter-spacing: 2px;
}

.saved-name {
    color: whitesmoke;
    background-color: black;
    font-size: 22px;
    border-radius: 8px;
    text-align: center;
    border: none;
    padding: 5px;    
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    z-index: 0;
    font-weight: bold;
}

.saved-name span {
    color: whitesmoke;
    font-weight: bold;
}

.saved-name:hover,
#name:hover {
    cursor: text;
    outline: 1px solid whitesmoke;
}

#name:focus {
    outline: 1px solid whitesmoke;
    color: whitesmoke;
}

#name {
    color: whitesmoke;
    background-color: black;
    font-size: 22px;
    border-radius: 8px;
    text-align: center;
    border: none;
    padding: 5px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    z-index: 1;
    visibility: visible;
    font-weight: bold;
}

.name-submit {
    background-color: black;
    border: none;
}

.saved-palettes {
    color: whitesmoke;
    font-size: 22px;
    border-radius: 8px;
    text-align: center;
    border: none;
    z-index: 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 0 324.44px;
    width: 324.44px;
    letter-spacing: 2px;
    position: relative;
    justify-content: flex-start;
    height: 847.64px;
}

.saved-palettes div {
    color: whitesmoke;
    background-color: black;
    font-size: 22px;
    border-radius: 8px;
    text-align: center;
    border: none;
    padding: 15px;    
    z-index: 0;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    width: 324.44px;
    height: 55.56px;
}

.saved-palettes-clear {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30px;
    height: 847.64px;    
}

.saved-palettes-clear div {
    background-image: url("./images/cancel-close-delete-svgrepo-com.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 22px;
    border-radius: 8px;
    text-align: center;
    border: none;
    transition: all 0.1s ease-in-out;
    width: 30px;
    height: 55.56px;
}

.saved-palettes-clear div:hover {
    transform:scale(1.1);
    cursor: grab;
}

.saved-palettes-clear div:active {
    transform:scale(0.95);
}


.saved-palettes div:hover {
    transform: scale(1.05);
    cursor: grab;
}

.saved-palettes div:active {
    transform: scale(0.95);
}

.palette {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
}

.column {
    display: grid;
    gap: 5px;
    justify-items: center;
}

.column > div {
    border-radius: 8px;
    border: none;
    background-color: lightgray;
    height: 45px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.1s ease-in-out;
}

.column > div:hover {
    transform:scale(1.05);
    cursor: grab;
}

.column > div:active {
    transform:scale(0.95);
}

input {
    visibility: hidden;
}

label {
    height: 75px;
    width: 75px;
    border-radius: 1000px;
    border: none;
    background-color: lightgray;
    transition: all 0.1s ease-in-out;
    margin-top: 15px;
}

label:hover {
    transform:scale(1.1);
    cursor: grab;
}

.column > .clear {
    background-color: black;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-end;
}

.column > .clear:hover {
    transform:scale(1.1);
    cursor: grab;
}

.column > .clear:active {
    transform:scale(0.95);
}

.clear svg {
    width: 30px;
    height: 30px;
}

.saved-palettes-container {
    display: flex;
    flex-direction: row;
    flex: 0 0 344.44px;
    gap: 5px;
    visibility: hidden;
}

.clear-site {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0;
    border: 0;
    margin: 0;
}

.clear-site img {
    height: 40px;
    width: 40px;
}


p {
    position: absolute;
    bottom: 10px;
    right: 10px;
}