html, 
body, 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5px;

}

.column {
    display: grid;
    gap: 5px;
    justify-items: center;
}

.column > div {
    border-radius: 8px;
    border: none;
    background-color: lightgray;
    height: 45px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.1s ease-in-out;
}

.column > div:hover {
    transform:scale(1.05);
    cursor: grab;
}

.column > div:active {
    transform:scale(0.95);
}

input {
    visibility: hidden;
}

label {
    height: 50px;
    width: 50px;
    border-radius: 1000px;
    border: none;
    background-color: lightgray;
}
