html, 
body, 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
    background-color: whitesmoke;
}

.information {
    display: flex;
    justify-content: center;
    gap: 150px;
}

h1 {
    font-size: 64px;
    letter-spacing: 10px;
    background-color: black;
    padding: 18px 20px 18px 30px;
    border-radius: 8px;
}

h1:hover {
    cursor: grab;
}

.palette-name {
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    height: fit-content;
    align-self: flex-end;
}

#name {
    color: whitesmoke;
    background-color: black;
    font-size: 20px;
    visibility: visible;
    border-radius: 8px;
    text-align: center;
    border: none;
    padding: 5px;
}

.name-submit {
    background-color: black;
    border: none;
}

.palette {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
}

.column {
    display: grid;
    gap: 5px;
    justify-items: center;
}

.column > div {
    border-radius: 8px;
    border: none;
    background-color: lightgray;
    height: 45px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.1s ease-in-out;
}

.column > div:hover {
    transform:scale(1.05);
    cursor: grab;
}

.column > div:active {
    transform:scale(0.95);
}

input {
    visibility: hidden;
}

label {
    height: 75px;
    width: 75px;
    border-radius: 1000px;
    border: none;
    background-color: lightgray;
    transition: all 0.1s ease-in-out;
    margin-top: 15px;
}

label:hover {
    transform:scale(1.1);
    cursor: grab;
}
